// COLOR SYSTEM

$asu-white: #fafafa;
$asu-gray-light: #d0d0d0;
$asu-gray: #747474;
$asu-gray-dark: #484848;
$asu-light: #f1f1f1;
$asu-dark: #191919;

$asu-maroon: #8c1d40;
$asu-gold: #ffc627;
$asu-success: #28a745;
$asu-info: #007bb6;
$asu-warning: #ffc107;
$asu-danger: #dc3545;
